out
node_modules
.DS_Store
Thumbs.db
*.log
.vscode-test
src/test/suite/fixtures/end_of_line/*/test
src/test/suite/fixtures/insert_final_newline/*/test
src/test/suite/fixtures/trim_trailing_whitespace/*/test
