name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest

    steps:
      - name: Preserve line endings
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          # In CI, this Node is only used to
          # - Install dependencies,
          # - Run tools like typescript and eslint
          # - Execute the runTests function of the @vscode/test-electron package
          #
          # Therefore, it doesn't have to match the Node version supported by
          # VSCode.
          node-version: lts/*
      - name: Start xvfb
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"
        shell: bash
      - name: Install & test
        run: |
          npm ci
          npm test
        env:
          DISPLAY: ":99.0"
